@import '../../../vars.scss';

.header-container {
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  list-style:none;

  li {
    cursor: pointer;
  }

  li:hover {
    color: $secondary-font-color;
    text-decoration: underline;
  }
}
